service: cloudevents-to-ddb

provider:
  name: aws
  stage: ${opt:stage, 'dev'}
  runtime: nodejs12.x
  environment:
    DYNAMODB_TABLE: ${self:service}-${opt:stage, self:provider.stage}
    TTL_SECONDS: 300
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource: "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/${self:provider.environment.DYNAMODB_TABLE}"
    - Effect: Allow
      Action:
        - "s3:PubObject"
        - "s3:GetObject*"
        - "s3:PutBucketNotification"
      Resource:
        Fn::Join:
          - ""
          - - "arn:aws:s3:::${env:FIREHOSE_BUCKET}/*"
  
functions:
  scrape:
    handler: handler.handleS3Event
    events:
      - existingS3:
          bucket: ${env:FIREHOSE_BUCKET}
          events: 
            - s3:ObjectCreated:*

plugins:
- serverless-plugin-existing-s3

resources:
  Resources:
    eventsTables:
      Type: 'AWS::DynamoDB::Table'
      DeletionPolicy: Retain
      Properties:
        AttributeDefinitions:
          -
            AttributeName: id
            AttributeType: S
          - 
            AttributeName: eventType
            AttributeType: S
          -
            AttributeName: timestamp
            AttributeType: S
        KeySchema:
          -
            AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        GlobalSecondaryIndexes:
          -
            IndexName: "timestampIdx"
            KeySchema:
              -
                AttributeName: eventType
                KeyType: HASH
              -
                AttributeName: timestamp
                KeyType: RANGE
            Projection:
              NonKeyAttributes:
                - eventData
              ProjectionType: INCLUDE
            ProvisionedThroughput:
              ReadCapacityUnits: 1
              WriteCapacityUnits: 1
        TimeToLiveSpecification:
          Enabled: true
          AttributeName: ttl_deadline
        TableName: ${self:provider.environment.DYNAMODB_TABLE}