service: replay

provider:
  name: aws
  stage: ${opt:stage, 'dev'}
  runtime: nodejs12.x
  apiKeys:
    - query-process-${opt:stage, self:provider.stage}
  usagePlan:
    throttle:
      burstLimit: 10
      rateLimit: 5
  environment:
    DYNAMODB_TABLE: ${self:service}-${opt:stage, self:provider.stage}

functions:
  step1:
    handler: query-process.step1

  step2:
    handler: query-process.step2

stepFunctions:
  stateMachines:
    Process1:
      name: query-process-${opt:stage}
      events:
        - http:
            path: create
            method: POST
            private: true
      definition:
        Comment: "Two steps FTW!"
        StartAt: step-1
        States:
          step-1:
            Type: Task
            TimeoutSeconds: 30
            Resource: "arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:${self:service}-${opt:stage}-step1"
            Next: step-2
          step-2:
            Type: Task
            TimeoutSeconds: 30
            Resource: "arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:${self:service}-${opt:stage}-step2"
            Next: doneTest
          doneTest:
            Type: Choice
            Choices:
              - Variable: '$.queryState'
                StringEquals: 'running'
                Next: step-2
            Default: done
          done:
            Type: Pass
            End: true



plugins:
  - serverless-step-functions
  - serverless-pseudo-parameters